body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #666666;
    background-color: #fff;
}

.header {
    display: block;
    margin: 0 auto;
    margin-top: 0;
    text-align: center;
    width: 1024px;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

.content {
    display: block;
    margin: 0 auto;
    text-align: start;
    width: 1024px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

.footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 1024px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}